# Python tools in the radr toolchain image (M3). Edit, then run scripts/pin-pytools.ts.
# Licenses: lizard MIT, checkov Apache-2.0, scancode-toolkit-mini Apache-2.0 (+ CC-BY-4.0 license data).
lizard==1.24.1
checkov==3.3.26
scancode-toolkit-mini==32.5.0
